type   name    sizeDiameter(km)   orbitRadius(10^6 km)  orbitSpeed(km/s)   rotationPeriod(days/rev)
planet Mercury 4879               57.9                  47.4               58.65

planet Venus   12104              108.2                 35.0               -243

planet Earth   12576              149.6                 29.8               1

planet Mars    6792               227.9                 24.1               1.03

planet Jupiter 142984             778.6                 13.1               0.41

planet Saturn  120536             1433.5                9.7                0.44

planet Uranus  51118              2872.5                6.8                -0.72

planet Neptune 49528              4495.1                5.4                0.72

planet Pluto   2370               5906.4                4.7                -6.38


