type   name    sizeDiameter(km)   orbitRadius(10^6 km)  orbitSpeed(km/s)   rotationPeriod(days/rev)   textureFileName   Ring?   zoomFactor
StartPlanetsData
planet Sun     50000              0.0                   0.0                24.47                      sun.jpg           NO          0.0

planet Mercury 4879               57.9                  47.4               58.65                      mercury.jpg       NO          23.5

planet Venus   12104              108.2                 35.0               -243                       venus.jpg         NO          22.0

planet Earth   12576              149.6                 29.8               1                          earth.jpg         NO          22.0

planet Mars    6792               227.9                 24.1               1.03                       mars.jpg          NO          23.0

planet Jupiter 142984             778.6                 13.1               0.41                       jupiter.jpg       NO          2.0

planet Saturn  120536             1433.5                9.7                0.44                       saturn.jpg        YES          2.0

planet Uranus  51118              2872.5                6.8                -0.72                      uranus.jpg        NO          11.0

planet Neptune 49528              4495.1                5.4                0.72                       neptune.jpg       NO          11.0

planet Pluto   2370               5906.4                4.7                -6.38                      pluto.jpg         NO          24.0
EndPlanetsData

type  orbitPlanetName   name     sizeDiameter(km)   orbitRadius(10^6 km)  orbitSpeed(km/s)   rotationPeriod(days/rev)   textureFileName Ring?   zoomFactor
StartMoonsData
moon  Earth             Moon     3476               0.385000              1.02               0                          moon.jpg        NO          0.0
moon  Mars              Deimos   12.4               0.023460	           1.35               0                       	moon.jpg        NO          0.0
moon  Mars              Phobos   22.5334            0.009376	           2.1338             0                          moon.jpg        NO          0.0
moon  Jupiter           Ganymede 2361.2             1.070412              10.88              0                          moon.jpg        NO          0.0
moon  Jupiter           Io       3660.0             0.422000              17.334             0                          moon.jpg        NO          0.0
moon  Jupiter           Europa   1560.8             0.670900              13.740             0                          moon.jpg        NO          0.0
moon  Jupiter           Callisto 2410.3             0.423400              17.334             0                          moon.jpg        NO          0.0
EndMoonsData

